ion-content {
  --background: #e3f2fd;
}

ion-card {
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  padding: 10px;
  background: #fff;

  ion-card-header {
    .card-header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      ion-badge {
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 8px;
      }
    }

    ion-card-subtitle {
      font-size: 13px;
      color: #757575;
      margin-top: 2px;
    }
  }

  ion-card-content {
    .info-pesanan {
      margin-bottom: 12px;
      p {
        margin: 6px 0;
        font-size: 14px;
        color: #444;
      }
    }

    ion-list {
      ion-item-divider ion-label {
        font-size: 15px;
        font-weight: bold;
      }

      ion-item {
        ion-label h3 {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        ion-label p {
          font-size: 13px;
          color: #666;
        }
        ion-note {
          font-weight: bold;
          font-size: 14px;
        }
      }
    }

    .btn-batal {
      margin-top: 16px;
    }
  }
}
