ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: gray;
  }
  
  ion-item h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  ion-note {
    font-size: 14px;
  }
  