<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot-password"></ion-back-button>
    </ion-buttons>
    <ion-title>Atur Ulang Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Masukkan password baru Anda.</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Password Baru" [type]="showPassword1 ? 'text' : 'password'" formControlName="password" placeholder="Minimal 8 karakter"></ion-input>
      <ion-icon [name]="showPassword1 ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePassword1()"></ion-icon>
    </ion-item>
    <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="ion-text-danger ion-padding-start">
      <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password wajib diisi.</small>
      <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password minimal 8 karakter.</small>
    </div>

    <ion-item class="ion-margin-top">
      <ion-input label="Konfirmasi Password" [type]="showPassword2 ? 'text' : 'password'" formControlName="password_confirmation" placeholder="Ulangi password baru"></ion-input>
      <ion-icon [name]="showPassword2 ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePassword2()"></ion-icon>
    </ion-item>
    <div *ngIf="resetPasswordForm.get('password_confirmation')?.invalid && resetPasswordForm.get('password_confirmation')?.touched" class="ion-text-danger ion-padding-start">
      <small *ngIf="resetPasswordForm.get('password_confirmation')?.errors?.['required']">Konfirmasi password wajib diisi.</small>
    </div>
    <div *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('password_confirmation')?.touched" class="ion-text-danger ion-padding-start">
      <small>Konfirmasi password tidak cocok.</small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="!resetPasswordForm.valid || isSubmitting" class="ion-margin-top">
      <span *ngIf="!isSubmitting">Ubah Password</span>
      <span *ngIf="isSubmitting">Memproses...</span>
    </ion-button>
  </form>
</ion-content>