<ion-content [fullscreen]="true">
  <div class="register-wrapper">
    <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
    <h1 class="title">Daftar</h1>

    <!-- Username -->
    <ion-input
    
      label="Username"
      labelPlacement="floating"
      placeholder="Masukkan Username"
      [counter]="true"
      maxlength="20"
      [counterFormatter]="customCounterFormatter"
      [(ngModel)]="username"
    ></ion-input>

    <!-- Nomor Telepon -->
    <ion-input
      label="Nomor Telepon"
      labelPlacement="floating"
      type="tel"
      placeholder="Masukkan Nomor Telepon"
      [counter]="true"
      maxlength="15"
      [counterFormatter]="customCounterFormatter"
      [(ngModel)]="phone"
    ></ion-input>

    <!-- Email -->
    <ion-input
      label="Email"
      labelPlacement="floating"
      type="email"
      placeholder="Masukkan Email"
      [counter]="true"
      maxlength="50"
      [counterFormatter]="customCounterFormatter"
      [(ngModel)]="email"
    ></ion-input>

    <!-- Password -->
    <div class="password-wrapper">
      <ion-input
        label="Password"
        labelPlacement="floating"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Masukkan Password"
        [counter]="true"
        maxlength="20"
        [counterFormatter]="customCounterFormatter"
        [(ngModel)]="password"
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        class="toggle-icon"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </div>

    <!-- Confirm Password -->
    <div class="password-wrapper">
      <ion-input
        label="Confirm Password"
        labelPlacement="floating"
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Ulangi Password"
        [counter]="true"
        maxlength="20"
        [counterFormatter]="customCounterFormatter"
        [(ngModel)]="confirmPassword"
      ></ion-input>
      <ion-icon
        [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
        class="toggle-icon"
        (click)="toggleConfirmPasswordVisibility()"
      ></ion-icon>
    </div>

    <ion-button expand="block" class="register-btn" (click)="registerUser()">
      Daftar
    </ion-button>

    <p class="login-link">
      Sudah Punya Akun? <a routerLink="/login"><strong>Masuk</strong></a>
    </p>
  </div>
</ion-content>
