<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda" routerLink="/tabs/home">
      <img src="assets/icon/home.png" class="tab-icon" />
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat" routerLink="/tabs/riwayat">
      <img src="assets/icon/history.png" class="tab-icon" />
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoice" routerLink="/tabs/invoice">
      <img src="assets/icon/invoice.png" class="tab-icon" />
      <ion-label>Invoice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="akun" routerLink="/tabs/akun">
      <img src="assets/icon/account.png" class="tab-icon" />
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
