<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-section">
    <ion-avatar class="profile-avatar">
      <img src="assets/img/logo.jpg" alt="Profile Picture" />
    </ion-avatar>
    <h2 class="profile-name">Alif M.kom</h2>
  </div>

  <ion-list lines="full" class="menu-list">
    <!-- Info Akun -->
    <ion-item button detail="true" (click)="goToInfoAkun()">
  <ion-icon slot="start" name="person-circle-outline"></ion-icon>
  <ion-label>Info Akun</ion-label>
</ion-item>
    
    <!-- Pengaturan -->
    <ion-item button detail="true" (click)="goToPengaturan()">
  <ion-icon slot="start" name="settings-outline"></ion-icon>
  <ion-label>Pengaturan</ion-label>
</ion-item>
    
    <!-- Tentang Kami -->
    <ion-item button detail="true" (click)="goToTentangKami()">
  <ion-icon slot="start" name="information-circle-outline"></ion-icon>
  <ion-label>Tentang Kami</ion-label>
</ion-item>
    
    <!-- Keluar -->
    <ion-item button detail="true" (click)="confirmLogout()" color="danger">
  <ion-icon slot="start" name="log-out-outline"></ion-icon>
  <ion-label>Keluar</ion-label>
</ion-item>
  </ion-list>
</ion-content>