<ion-header>
  <ion-toolbar color="light">
    <ion-title>Riwayat</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="hapusRiwayat()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div *ngFor="let data of riwayat" class="card-riwayat">
<div class="header">
  <h2>Reservasi#{{ data.id }}</h2>
  <ion-badge *ngIf="data.status === 'Selesai'" color="success">Selesai</ion-badge>
  <ion-badge *ngIf="data.status === 'Pesanan Dibatalkan'" color="danger">Dibatalkan</ion-badge>
  <ion-badge *ngIf="data.status === 'Belum Lunas'" color="warning">Belum Lunas</ion-badge>
</div>

    <p>{{ data.tanggal }}</p>

    <div class="items">
      <div *ngFor="let item of data.items">
        <span>{{ item.nama }}</span>
        <span>x{{ item.quantity }}</span>
        <span>Rp{{ item.harga | number }}</span>
      </div>
    </div>

    <div class="total">
      Total: <strong>Rp{{ data.total | number }}</strong>
    </div>

    <div class="actions">
      <ion-button color="primary" size="small" (click)="lihatDetail(data)">Detail Pesanan</ion-button>
      <ion-button size="small" color="dark" (click)="beriUlasan(data)">Beri Penilaian</ion-button>

      <ion-button *ngIf="data.status === 'Belum Dibayar'" color="warning" size="small" (click)="lanjutkanPembayaran(data)">
        Lanjutkan Pembayaran
      </ion-button>
    </div>

  </div>
</ion-content>
