<!-- about-us.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/akun"></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Kami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <!-- Tagline -->
    <div class="tagline">
      <h2>Marugame Udon</h2>
    </div>

    <!-- Deskripsi Perusahaan -->
    <div class="section">
      <p>
        Marugame Udon adalah Udon & Tempura terbaik dari Jepang. Seluruh resep yang digunakan 
        merupakan resep asli dari Marugame Jepang, dimasak dengan menggunakan bahan-bahan berkualitas 
        dan alami, diproses di setiap outlet dengan menggunakan teknik khusus dari Jepang dan dikontrol
         dengan standar jaminan kualitas yang ketat di setiap outlet.
      </p>
    </div>

    <div class="image-container">
      <ion-img src="assets/img/makan.jpg" alt="makanan"></ion-img>
    </div>

    <!-- Misi Perusahaan -->
    <div class="mission">
      <h3>Kami Membawa Senyuman Kepada Semua Orang Dengan kelezatan buatan tangan yang segar</h3>
      <p>
        Kami ingin berbagi. Rasakan "pengalaman kuliner yang mengasyikkan" dari "udon lezat kami yang 
        sesungguhnya, yang dibuat dengan tangan segar". Kami menghadirkan senyuman penuh kepada banyak 
        orang dengan pengalaman kami yang mengasyikkan. Kami ingin merek kami didorong oleh 
        harapan-harapan ini.
      </p>
      <p>
        Marugame Udon sudah memiliki cabang di berbagai kota besar di Indonesia dan saat ini sudah 
        memiliki lebih dari 1100 cabang di seluruh dunia seperti di Los Angeles, Hawaii, Moscow, 
        Sydney, Seoul, Hong Kong dan kota-kota besar lainnya di dunia.
      </p>
    </div>

    <div class="image-container">
      <ion-img src="assets/img/makan2.jpg" alt="makanan2"></ion-img>
    </div>

    <!-- Ekspansi Global -->
    <div class="section">
      <p>
        Kami menghargai pelanggan kami dan berusaha untuk memberikan yang terbaik bagi mereka. 
        Sebagai ahli mie, kami ingin "membuat kagum" Anda tidak hanya dengan keterampilan kami tetapi 
        juga dengan ruang yang kami khususkan. Kami ingin menjadi penghibur yang bangga dapat 
        menyenangkan pelanggan kami.
      </p>
    </div>

    <div class="image-container">
      <ion-img src="assets/img/makan3.jpg" alt="makanan3"></ion-img>
    </div>

    <!-- Sertifikasi -->
    <div class="section">
      <p>
        Marugame Udon mendapatkan sertifikasi halal MUI pada tanggal 7 Oktober 2015 dan berkomitmen 
        untuk terus menyajikan Udon & Tempura terbaik kepada pelanggan setianya.
      </p>
    </div>
  </div>
</ion-content>