<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Email / Nomor Telepon" type="text" formControlName="email" placeholder="Masukkan email atau nomor telepon Anda"></ion-input>
    </ion-item>
    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="ion-text-danger ion-padding-start">
      <small>Email atau Nomor Telepon wajib diisi.</small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting" class="ion-margin-top">
      <span *ngIf="!isSubmitting">Reset Password</span>
      <span *ngIf="isSubmitting">Memproses...</span>
    </ion-button>
  </form>
</ion-content>