<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <img src="assets/img/logo.jpg" class="app-logo" alt="Logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger" slot="end">1</ion-badge>
      </ion-button>
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- PROMO SECTION -->
  <div class="slider-container">
    <div
      class="slider-track"
      [style.transform]="'translateX(-' + currentImageIndex * 100 + '%)'"
    >
      <div class="slide" *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Food Image" class="food-image" />
  
        <!-- Tampilkan di semua gambar -->
        <div class="discount-badge">
          <span class="discount-text">DISCOUNT</span>
          <span class="discount-value">10%</span>
        </div>
      </div>
    </div>
  </div>
  
  

<!-- DOT INDICATOR -->
<div class="dot-indicator">
  <div
    class="dot"
    *ngFor="let img of images; let i = index"
    [class.active]="i === currentImageIndex"
  ></div>
</div>


  <!-- TEXT + BUTTON -->
  <div class="promo-text-section">
    <h2>Reservasi Sekarang dan Nikmati<br />Kebersamaan!</h2>
    <ion-button expand="block" shape="round" color="light">
      <strong>Reservasi Sekarang</strong>
    </ion-button>
  </div>

</ion-content>

<!-- TABS -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda" selected>
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label color="dark">Beranda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="riwayat">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="invoice">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Invoice</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
