<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reservasi"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="reservasi-wrapper">

    <div class="section">
      <h3>Jadwal</h3>
      <div class="input-box" (click)="openDate()">
        <ion-input
          readonly
          [value]="tanggal ? (tanggal | date: 'dd/MM/yyyy') : ''"
          placeholder="DD/MM/YY"
          class="custom-date-input"
        ></ion-input>
        <ion-icon name="calendar-outline" class="calendar-icon"></ion-icon>
      </div>
    
      <ion-modal [isOpen]="showDateModal" (didDismiss)="showDateModal = false">
        <ng-template>
          <ion-datetime
            presentation="date"
            [value]="tanggal"
            (ionChange)="setTanggal($event)"
            doneText="OK"
            cancelText="Batal"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>    

    <div class="section">
      <h3>Waktu Datang</h3>
      <div class="button-grid">
        <button
          *ngFor="let jam of waktuList"
          class="custom-btn"
          [class.selected]="waktu === jam"
          (click)="waktu = jam"
        >
          {{ jam }}
        </button>
      </div>
    </div>

    <div class="section">
      <h3>Jumlah Tamu</h3>
      <p class="note">*Sesuai kursi yang anda pilih</p>
      <div class="input-box center">
        <ion-input
          type="number"
          [value]="jumlahTamu"
          class="number-input"
          readonly
        ></ion-input>
      </div>
    </div>

    <div class="section">
      <h3>Tempat</h3>
      <p class="note">*Sesuai tempat yang anda pilih</p>
      <div class="button-grid">
        <div
          *ngFor="let t of filteredTempatList"
          class="custom-btn readonly-btn"
          [class.selected]="tempat.includes(t)"
        >
          {{ t }}
        </div>
      </div>
    </div>

    <ion-button class="confirm-btn" expand="block" (click)="konfirmasi()">
      KONFIRMASI RESERVASI
    </ion-button>
    
  </div>
</ion-content>